__pycache__
_markdown_*
.miktex

ml4md/dataset/amorphous
ml4md/dataset/combined
ml4md/dataset/crystalline

log.lammps

*.aux
*.bcf
*.bbl
*.blg
*.idx
*.lof
*.log
*.lot
*.toc
*.markdown.in
*.markdown.lua
*.markdown.out
*.run.xml
*.out
*.dump
